h1{
  text-align: center;
  text-decoration: overline;
}
body{
  border: 20px groove #00FFFF;
  background-color:#AFEEEE;
}
hr{
  border: 4px dashed  #008000;
}
img{
  border-style: dashed;
  border-color: #3CB371;
  border-radius: 50px;
  border-width: 13px;
  margin-left: 450px;
  width: 400px;

}
p{
  font-weight: bold;
  text-align: justify;
  text-indent: 30px;
  font-size: 25px;
}
